@keyframes coverphoto {
    0% {
        background: url("images/all.jpg") no-repeat;
        background-size: cover;
    }
    25% {
        background: url("images/index3.jpg") no-repeat;
        background-size: cover;
    }
    50% {
        background: url("images/4f1T19C.jpg") no-repeat;
        background-size: cover;
    }
    75% {
        background: url("images/index2.jpg") no-repeat;
        background-size: cover;
    }
    100% {
        background: url("images/up.jpg") no-repeat;
        background-size: cover;
    }
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 2%;
}

.header {
    animation-name: coverphoto;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    background: url("images/up.jpg") no-repeat;
    background-size: cover;
    color: white;
    padding: 14%;
    text-align: right;
    
    margin-bottom: 0;
}

.title {
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    background-color: black;
    color: white;
    text-align: center;
}

.topnav {
    position: fixed;
    width: 100%;
    background-color: black;
    margin-bottom: 1%;
}

.column {
    float: left;
    padding: 2%;
}

.column.right {
    width: 25%;
    text-align: justify;
}

.column.left {
    width: 75%;
    text-align: justify;
}
.column.side {
    width: 25%;
    text-align: justify;
}

.column.middle {
    width: 50%;
    text-align: justify;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* pt telefoane */
@media (max-width: 600px) {
    .column.side, .column.middle,.column.left,.column.right {
        width: 100%;
    }
    .header, .title {
        display: none;
    }
    .column {
        padding: 3.5%;
    }
    .column.side{
        margin-top: 40%;
    } 
    .column.left{
        margin-top: 40%;
    } 
    
    .footer .btnsf {
       display: none;
    }
    
    .dropdown:hover .dropdown-content {
    display: none;
}

}


.footer {
    font-size: 0.7rem;
    color: white;
    background-color: black;
    position: fixed;
    bottom: 0;
    padding: 1%;
    width: 100%;
}

/*meniul*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0.7rem 0.7rem;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0rem 0.8rem 10rem 0rem rgba(0,0,0,0.2);
    z-index: 1; 
}

.dropdown-content a {
    color: black;
    padding: 0.6rem 0.8rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: pink;}

.dropdown:hover .dropdown-content {
    display: block;
}



div.gallery {
    margin: 1%;
    border:0.05em solid #ccc;
    float: left;
    width: 90%;
    box-shadow:  0 0.5rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.gallery:hover {
    width: 100%;
    transition: width 2s;
}

div.desc {
    padding: 1%;
    text-align: center;
}

.pagemenu a {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 4rem;
}

.pagemenu a:hover {
    font-weight: bold;
}

.column.side iframe {
    width: 100%;
    height: auto;
}

.fa {
  padding: 0.5em;
  font-size: 0.5em;
  width: 4em;
  text-align: center;
  text-decoration: none;
  margin: 0.1em 0.1em; 

}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


@media print {
    .topnav,header,footer, .column.right,.column.side{
        display: none;
    }
    #container #content #main {
        width: 90%;
        margin: 0px;
        padding: 0px;
    }
    * {
        color: #000;    
        background-color: #fff;
    }
    aside a:after {
        content: "( "attr(href)" )";
    }
}