table{
	font-size:1em;
	min-width:10em;
	background: red;
	background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
table caption{
	font-size:1.5em;
}
 table#tabel td, table#tabel th{
	border: 0.05em solid black;
	padding: 1em;
}
table#tabel{
	border-spacing:0;
	border-collapse:separate;
	box-sizing:border-box;
}

tfoot{
	text-align: center;
}