		table#tabel,table#tabel tr{
			border:none;
			padding:0;
			margin:0;
			display:block;
			background: white;
		}
		table{
			font-size:1em;
		}
		table#tabel td{
			display:block;
			padding:0.2em;
			box-sizing:border-box;
		}
		table#tabel thead{
			display:none;
		}
		table#tabel tbody td:nth-child(1)::before{
			content:"Nume: ";
		}
		table#tabel tbody td:nth-child(2)::before{
			content:"Personaj: ";
		}
		table#tabel tbody td:nth-child(3)::before{
			content:"Calitati: ";
		}
		table#tabel tbody td:nth-child(4)::before{
			content:"Defecte: ";
		}
			
		
		
		table#tabel td{
			border-bottom:none;
			border-top:none;
			float:left;
			width:80%;
			padding-left:2%;
			padding-right:2%;
		}
		table#tabel td::before{
			border-bottom:none;
			border-top:none;
			float:left;
			width:35%;
			font-weight:bold;
			margin-right:0.5em;
			padding:0.1em;
			line-height:100%;
		}

		table#tabel td:last-child{
			border-bottom:0.05em dashed black;
		}
		table#tabel tr:first-child  td:first-child{
			border-top:0.05em solid black;
		}
		table#tabel tr:last-child td:last-child{
			border-bottom:0.05em solid black;
		}